@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
.header,
.help,
.footer{
    margin-left: 5%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4%;
}
ul li ,
a {
    color: #000;
    text-decoration: none;
    list-style: none;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 40px;
    position: relative;
}
.nav-links ul li a{
    font-size: 17px;
    font-weight: 600;
}
.heavy{
    font-size: 40px;
    font-weight: 600;
}
.short{
    color: #565656;
    font-style: 16px;
    font-weight: 400px;
    line-height: 28px;
}
.medium{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.small{
    line-height: 25.6px;
    color: #757575;
    font-size: 16px;
}
.hero-btn {
    background: #2639ed;
    padding: 20px 40px;
    font-size: 20px;
    width: 215px;
    color: #fff ;
    border-radius: 56px;
    border: transparent;
    cursor: pointer;
    margin-top: 2%;
}
.headline{
    display: flex;
    justify-content: space-between;
}
.client_section{
    display: flex;
    margin-top: 10%;
    margin-right: 5%;
    justify-content: space-between;
}
.icons{
    margin-top: 3%;
    padding-right: 100px;
}
.help{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.help-content{
    margin-top: 20%;
}
.card_one,
.card_two,
.card_three,
.card_four{
    background: #fff;
    text-align: center;
    width: 308px;
    height: 379px;
    border-radius: 40px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
    margin-bottom: 10%;
}
.logo{
    border-radius: 20px;
    background: #f1f7ff;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loogo{
    border-radius: 20px;
    background: #FFF7E3;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.looogo{
    border-radius: 20px;
    background: #FFF2F8;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loooogo{
    width: 100px;
    border-radius: 20px;
    background: #DEFFEE;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.slots{
    display: flex;
    float: right;
    margin-right: 30%;
}
.slot{
    margin-right: 5%;
}
.slot:nth-child(odd){
    margin-top: 100px;
}
.history{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}
.history-content{
    margin-top: 2%;
    margin-right: 5%;
}
.testimonials{
    margin-top: 10%;
}
.testimonial-content{
    text-align: center;
}
.testimonial{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 3%;
}
.testimonial-msg{
    margin-top: 5%;
}
.words{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
}
.model{
    margin-top: 6%;
    margin-left: 7%;
}
.email_box{
    background: #fff;
    width:40%;
    height: 80px;
    border-radius: 56px;
    box-shadow: 1px 2px 2px 1px #e4e4e4;
    margin-right: 15%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.email{
    border: transparent;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 3%;
    height: 50%;
}
.hero-btn-small{
    background: #2639ED;
    padding: 25px 35px;
    font-size: 20px;
    width: 200px;
    height: 70px;
    color: #fff ;
    border-radius: 56px;
    text-decoration: none;
    margin-right: 1%;
    margin-top: 0.8%;
}
.footer{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 5%;
}
.sublink {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wwd,
.company,
.support,
.contact{
    margin-right: 120px;
}
.margin{
    margin-bottom: 5%;
}
.outro{
    margin-top: 6.3%;
}
.outro-text{
    margin-bottom: 6%;
}
.uno{
    position: absolute;
    left: 3%;
    top: 44%;
    z-index: -10;
}
.dos{
    position: absolute;
    left: 57%;
    top: 18.2%;
    z-index: -10;
}
.tres{
    position: absolute;
    z-index: -10;
    left: 83%;
    top: 68%;
}
.cuatro{
    position: absolute;
    z-index: -10;
    left: 3%;
    top: 156%;
}
.cinco{
    position: absolute;
    left: 22%;
    top: 139%;
    z-index: -10;
}
.siete{
    left: 30.8%;
    top: 193%;
    z-index: -20;
}
.seis{
    left: 89%;
    top: 201%;
    z-index: -20;
}
.iimage{
    left: 65.5%;
    z-index: -10;
    top: 245%;
}
.orb{
    left: 29.8%;
    top: 278%;
    z-index: -10;
}
.point,
.ring,
.orbital,
.bg,
.background,
.siete,
.seis,
.iimage,
.orb{
    position: absolute;
}
.ring{
    left: 5%;
    top: 378%;
    z-index: -10;
}
.point{
    left: 17%;
    top: 344%;
    z-index: -10;
}
.orbital{
    left: 80%;
    top: 356%;
    z-index: -10;
}
.bg{
    left: 60%;
    z-index: -10;
    margin-left: 3%;
}
.background{
    z-index: -10;
}
.headline-text{
    margin-top: 9%;
}
nav .fas{
    display: none;
}
@media screen and (max-width:1440px) /* large laptop */ {
    .uno{
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 2.5%;
    }
    .dos{
        position: absolute;
        z-index: -10;
        left: 44%;
        top: 18.4%;
    }
    .tres{
        position: absolute;
        z-index: -10;
        left: 80%;
        top: 77%;
    }
    .cuatro{
        position: absolute;
        z-index: -10;
        left: 2%;
        top: 163%;
    }
    .siete{
        position: absolute;
        left: 8.2%;
        top: 218%;
        z-index: -20;
    }
    .seis{
        position: absolute;
        left: 87%;
        top: 227%;
        z-index: -20;
    }
    .iimage{
        position: absolute;
        left: 56%;
        z-index: -10;
        top: 273%;
    }
    .orb{
        position: absolute;
        left: 38%;
        top: 320%;
        z-index: -10;
    }
    .point,
    .ring{
        position: absolute;
        z-index: -10;
    }
    .ring{
        left: 5%;
        top: 425%;
    }
    .point{
        left: 22%;
        top: 385%;
    }
    .orbital{
        position: absolute;
        left: 75%;
        top: 399%;
        z-index: -10;
    }
    .testimonial-msg{
        margin-top: 5%;
        margin-right: 2%;
        font-size: 15px;
    }
    .bg{
        position: absolute;
        left: 54%;
        z-index: -10;
    }
    .background{
        position: absolute;
        z-index: -10;
    }
    .icons{
        width: 220px;
        padding-right: 90px;
    }

}
@media screen and (max-width:1024px) /* small laptop */ {
    .frame{
        width: 450px;
    }
    .uno{
        width: 300px;
        position: absolute;
        left: 2.2%;
        top: 35%;
    }
    .dos{
        width: 100px;
        position: absolute;
        left: 51.5%;
        top: 10%;
    }
    .tres{
        width: 120px;
        position: absolute;
        left: 80%;
        top: 45%;
    }
    .nav-links ul li a{
        font-size: 13px;
        font-weight: 600;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 2%;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 20px 20px;
        position: relative;
    }
    .heavy{
        font-size: 30px;
        font-weight: 600;
    }
    .short{
        color: #565656;
        font-size: 12px;
        font-weight: 400px;
        line-height: 24px;
    }
    .medium{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    .small{
        line-height: 20px;
        color: #757575;
        font-size: 12px;
    }
    .headline-text{
        margin-top: 6%;
    }
    .hero-btn{
        width: 180px;
        font-size: 16px;
    }
    .icons{
        width: 170px;
        padding-right: 50px;
    }
    .card_one,
    .card_two,
    .card_three,
    .card_four{
        background: #fff;
        text-align: center;
        width: 250px;
        height: 330px;
        border-radius: 40px;
        box-shadow: 1px 1px 2px 2px #f2f2f2;
        margin-bottom: 10%;
    }
    .cuatro{
        position: absolute;
        z-index: -10;
        left: 2%;
        top: 127%;
        width: 140px;
    }
    .cinco{
        position: absolute;
        left: 22%;
        z-index: -10;
        top: 111%;
        width: 700px;
    }
    .slots{
        display: flex;
        float: right;
        margin-right: 0;
    }
    .help-content{
        margin-top: 35%;
    }
    .seis{
        position: absolute;
        top: 168%;
        width: 100px;
        left: 88%;
    }
    .siete{
        width: 300px;
        position: absolute;
        left: 4%;
        top: 161%;
    }
    .video{
        width: 450px;
    }
    .orb{
        position: absolute;
        top: 238%;
        width: 100px;
    }
    .iimage{
        width: 140px;
        top: 209%;
        left: 53%;
    }
    .person{
        width: 300px;
    }
    .ppl{
        width: 250px;
    }
    .orbital{
        width: 120px;
        position: absolute;
        top: 298%;
    }
    .point{
        position: absolute;
        top: 286%;
        left: 17%;
        width: 150px;
    }
    .ring{
        position: absolute;
        top: 310%;
        width: 100px;
    }
    .background{
        width: 800px;
        height: 200px;
    }
    .bg{
        width: 300px;
        height: 200px;
        position: absolute;
        left: 55%;
    }
    .email_box{
        width: 40%;
        height: 40px;
    }
    .email{
        font-size: 12px;
    }
    .hero-btn-small{
        height: 40px;
        width: 150px;
        padding: 10px 25px;
        font-size: 15px;
        margin-top: 0.1%;
    }
    .wwd,
    .company,
    .support,
    .contact{
        margin-right: 50px;
    }
    .margin{
        font-size: 14px;
    }
    .footer{
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4%;
    }
}
@media screen and (max-width:768px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 10;
        transition: 1s
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 3px;
        background: rgba(119, 47, 47, 0.4);
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }
    nav .fas{
        display: block;
        color: #000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .header{
        overflow-y: hidden !important;
    }
    .frame{
        width: 350px;
    }
    .cinco,.background{
        width: 600px;
    }
    .client_section .img{
        width: 355px;
    }
    .hero-btn-small{
        padding: 10px 12px;
        margin-top: 0.6%;
    }
}