@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
.header,
.help,
.history,
.testimonials,
.footer{
    margin-left: 5%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4%;
}
ul li ,
a {
    color: #000;
    text-decoration: none;
    list-style: none;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 40px;
    position: relative;
}
.nav-links ul li a{
    font-size: 17px;
    font-weight: 600;
}
.heavy{
    font-size: 40px;
    font-weight: 600;
}
.short{
    color: #565656;
    font-style: 16px;
    font-weight: 400px;
    line-height: 28px;
}
.medium{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.small{
    line-height: 25.6px;
    color: #757575;
    font-size: 16px;
}
.hero-btn {
    background: #2639ed;
    padding: 20px 40px;
    font-size: 20px;
    width: 215px;
    color: #fff ;
    border-radius: 56px;
    border: transparent;
    cursor: pointer;
    margin-top: 2%;
}
.headline{
    display: flex;
    justify-content: space-between;
}
.client_section{
    display: flex;
    margin-top: 10%;
    margin-right: 5%;
    justify-content: space-between;
}
.icons{
    margin-top: 3%;
    padding-right: 100px;
}
.help{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.help-content{
    margin-top: 20%;
}
.card_one,
.card_two,
.card_three,
.card_four{
    background: #fff;
    text-align: center;
    width: 308px;
    height: 379px;
    border-radius: 40px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
    margin-bottom: 10%;
}
.logo{
    border-radius: 20px;
    background: #f1f7ff;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loogo{
    border-radius: 20px;
    background: #FFF7E3;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.looogo{
    border-radius: 20px;
    background: #FFF2F8;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loooogo{
    width: 100px;
    border-radius: 20px;
    background: #DEFFEE;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.slots{
    display: flex;
    float: right;
    margin-right: 30%;
}
.slot{
    margin-right: 5%;
}
.slot:nth-child(odd){
    margin-top: 100px;
}
.history{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.history-content{
    margin-right: 5%;
}
.testimonials{
    margin-top: 10%;
}
.testimonial-content{
    text-align: center;
}
.testimonial{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.testimonial-people{
    margin-right: 5%;
}
.testimonial-msg{
    margin-top: 5%;
}
.words{
    background: #f4f9ff;
    border-radius: 75px;
    position: relative;
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.model{
    margin-top: 7%;
    margin-left: 7%;
}
.email_box{
    background: #fff;
    width:40%;
    height: 80px;
    border-radius: 56px;
    box-shadow: 1px 2px 2px 1px #e4e4e4;
    margin-right: 10%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.email{
    border: transparent;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 3%;
    height: 50%;
}
.hero-btn-small{
    background: #2639ED;
    padding: 25px 35px;
    font-size: 20px;
    width: 200px;
    height: 70px;
    color: #fff ;
    border-radius: 56px;
    text-decoration: none;
    margin-right: 1%;
    margin-top: 0.8%;
}
.footer{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 5%;
}
.sublink {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wwd,
.company,
.support,
.contact{
    margin-right: 120px;
}
.margin{
    margin-bottom: 5%;
}
.outro{
    margin-top: 6.3%;
}
.outro-text{
    margin-bottom: 6%;
}
.uno{
    position: absolute;
    left: 2%;
    top: 42%;
    z-index: -10;
}